html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*all*/
/*header*/
/*top*/
@font-face {
  font-family: "Ebrima", url("fonts/ebrima.ttf") format("truetype");
  font-family: "NTaiLu", url("fonts/ntailu.ttf") format("truetype");
  font-family: "AgencyFB", url("fonts/AgencyFB-Bold.ttf") format("truetype"); }
header {
  width: 100%;
  height: 90px;
  background: #191919;
  opacity: 0.75;
  padding: 25px 0; }

.logo {
  height: 50px;
  width: 40pt; }

.logo-text {
  text-transform: uppercase;
  color: #fff;
  font-family: "AgencyFB", Arial;
  font-size: 4vw; }

nav .header-menu-item {
  padding-left: 0px !important;
  padding-right: 0px !important; }
  nav .header-menu-item a {
    font-family: NTaiLu, Ebrima;
    font-size: 2vw;
    color: #fff; }
nav .header-ul-left li {
  text-align: right; }
  nav .header-ul-left li a {
    margin-right: 20pt; }
    nav .header-ul-left li a:last-child {
      margin-right: 0pt; }
nav .separator {
  width: 2px;
  height: 20px;
  margin: auto;
  border-left: 1px solid #787981;
  border-right: 1px solid #4a4a52; }
nav .header-ul-right li {
  text-align: left; }

.header-ul-right .header-menu-item {
  text-align: left; }

/*# sourceMappingURL=main.css.map */
