.up-nav{
    display: flex;
    align-items:flex-start;
}
.tab{
    flex-grow: 1;
    background-color: aqua;
    height: 40px;
    max-width: 15%;
    margin: 2px;
    text-align: center;
}
.tabActive{
    background-color: azure;
}
.addtab{
    flex-grow: 1;
    background-color:antiquewhite;
    height: 40px;
    max-width: 5%;
    text-align: center;
        margin: 2px;
}
.students{
  display: none;
}
.studentsActive{
    display: block;
}