@font-face {
    font-family: "Ebrima",
    url("fonts/ebrima.ttf") format("truetype");
    
    font-family: "NTaiLu",
    url("fonts/ntailu.ttf") format("truetype");
    
    font-family: "AgencyFB",
    url("fonts/AgencyFB-Bold.ttf") format("truetype");
}

@mixin noPadding {
    padding-left: 0px !important;
    padding-right: 0px !important;
}