@import 'reset';
@import 'config';
@import 'lib';

header {
    width: 100%;
    height: 90px;
    background: $header-background-color;
    opacity: 0.75;
    padding: 25px 0;
}


.logo {
    height: 50px;
    width: 40pt;
}

.logo-text {
    text-transform: uppercase;
    color: $main-header-color;
    font-family: "AgencyFB", Arial;
    font-size: 4vw;
}
nav {
    .header-menu-item {
        @include noPadding;
        a {
            font-family: NTaiLu, Ebrima;
            font-size: 2vw;
            color: $main-header-color;
            
        }
    }
    
    .header-ul-left li {
        text-align: right;
        a {
            margin-right: 20pt;
            &:last-child {
                margin-right: 0pt;
            }
        }
    }
    
    .separator {
        width: 2px;
        height: 20px;
        margin: auto;
        border-left: 1px solid $separator-left-color;
        border-right: 1px solid $separator-right-color;
    }
    
    .header-ul-right li {
        text-align: left;
    }
}

.header-ul-right {
    .header-menu-item {
        text-align: left;
    }
}

    
